First AI-agent.json
{
  "name": "First AI-agent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Ты придумываешь шутки, я пишу тебе тему, а ты отвечешь шуткой "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "ae0e9352-33d2-4768-8a0f-9e2b6b6ec73e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "79b86de6-271d-48f5-aefd-c6e14763185a",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "dq1OF7oaJHXFn9zr",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        224,
        208
      ],
      "id": "ee08060a-762b-408f-a7f6-634e027d4530",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        0
      ],
      "id": "a81c62fb-d6f0-484a-b4e7-1a35609ad19c",
      "name": "Send a text message",
      "webhookId": "b4a8da26-8a93-48f4-9379-643f147101f3",
      "credentials": {
        "telegramApi": {
          "id": "ERVk8NthAdfFK47y",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        48,
        0
      ],
      "id": "f5d14f74-a99c-43e5-8937-aa5b08c4a0ad",
      "name": "Telegram Trigger",
      "webhookId": "7e008747-9bb4-4f58-b32e-a923eb2bd2e5",
      "credentials": {
        "telegramApi": {
          "id": "ERVk8NthAdfFK47y",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "94cc9962-5b29-4f5b-961d-e56a828263b0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c25f039cc5b766738ff29c840bdf062d819a7e136af2e250d211e1fad1bc97ae"
  },
  "id": "NPCDpwVLDrIv5BXZ",
  "tags": []
}